.c2l-background-field,
.c2l-background-effect-field {
  border: solid 1px #eee;

  .c2l-background-types,
  .c2l-background-section {
     padding: 0.7em 1em;
  }

  .c2l-background-types {
    padding: 0.7em 1em;
    background-color: #f7f7f7;
    border-bottom: solid 1px #eee;
  }

  .c2l-background-section > label {
    display: block;
    margin-bottom: 7px;
  }

  .bg-youtube-filters {
    padding: 1em;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
}

/* Background attributes */
.c2l-bg-attributes {
  .c2l-bgatts-column2 {
    padding-left: 15px;
  }

  .c2l-block-label,
  .c2l-bgatts-column1 > label,
  .c2l-bgatts-column2 > label {
    display: block;
    margin-bottom: 7px;
  }

  span.cmb2-metabox-description {
    color: inherit;
    font-style: normal;
  }

  p {
    margin-top: 9px;
    margin-bottom: 0;
  }
}
